<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<h2 *ngIf="myNewUser">{{myNewProj}}: {{myNewUser}}</h2>
<input type="text" [(ngModel)] = "myNewUser">
<div class="position-relative container">

  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
    <div class="list-group">
      <a href="#" class="list-group-item" 
      *ngFor = "let item of myNewObj" (click)="showUserObj($event, item)" 
      >
      <div class="media" [style.backgroundColor] = "item.highlight ? '#EEE' : 'aquamarine'">
          <div class="media-body align-self-center">
            <img class="mr-3 rounded img-self-center img-fluid" style="width:70px" [src]= "'./assets/Images/happy-faces.jpg'" alt="Profile Pic">
            <h5>{{item.name}}</h5>
            {{item.city}}<br>
            {{item.country}}
          </div>
      </div>
      </a>

    </div>
    <div class="list-group">
        <a href="#" class="list-group-item" 
        *ngFor = "let item2 of myNewObj2" (click)="showUserObj($event, item2)" 
        >
        <div class="media" [style.backgroundColor] = "item2.highlight ? 'pink' : 'blue'">
            <div class="media-body align-self-center">
              
              <h5>{{item2.name}}</h5>
              {{item2.city}}<br>
              {{item2.country}}
            </div>
        </div>
        </a>
  
      </div>
    </div>
  </div>
</div>

